<form class="form-horizontal" data-bind="submit: saveRoom">
	<div class="form-group">
		<label>Room Name
		<input type="text" class="form-control" data-bind="textInput: name"></input>
		</label>
	</div>
	
	<button class="btn btn-default" type="submit">Save</button>
	<button class="btn btn-normal" type="button" data-bind="click:deleteRoom">Delete</button>

</form>

<h4 data-bind="text: name"></h4>	

<!-- 
<h5>editor</h5>
<pre data-bind="text: ko.toJSON($component, null, 2)"></pre>
 -->